.Pagination {
  display: flex;
  align-items: center;

  & i {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;

    text-align: center;
    background-color: #ddd;
    color: black;
    cursor: pointer;
    user-select: none;

    &--active {
      background-color: black;
      color: white;
    }

    & + & {
      margin-left: 1rem;
    }
  }
}
