.ProductItem {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  border: 1px solid #eef;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.2s;

  font-size: 0.95rem;
  cursor: pointer;

  & header {
    position: absolute;

    & section {
      padding: 0 1rem;
      margin-top: 1rem;
      border-left: 2px solid black;
    }

    & section div:last-child {
      font-weight: bold;
      font-size: 1rem;
    }

    & section div:first-child {
      width: 100%;
      color: #ddd;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
  &__image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease-in-out 0s;
  }

  &__price {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

    & section {
      color: #ccd;
    }

    & section div:last-child {
      display: flex;

      & div:last-child {
        font-weight: bold;
      }

      & .active {
        font-weight: normal !important;
        text-decoration: line-through;
      }

      & div:first-child {
        color: #000;
        font-weight: bold;
        margin-right: 0.5rem;
      }
    }

    & section img {
      width: 38px;
      height: 38px;
      margin: 0 0.2rem;
      padding: 0.25rem;

      border: 1px solid #eee;
      border-radius: 8px;
      box-sizing: border-box;

      cursor: pointer;
      vertical-align: middle;
    }

    & section img .active {
      border: 1px solid cyan;
    }
  }

  &:hover {
    transform: translateY(-2px);
  }
}
