.ProductList {
  flex: 1;
  padding: 0.5rem;
  overflow-y: scroll;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;

    & div {
      display: flex;
      align-items: center;
    }

    & div i {
      margin-left: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  & .breadcrumb {
    --bs-breadcrumb-margin-bottom: 0.4rem;
  }
}

.ProductList::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .ProductList {
    & h3 {
      margin-left: -8px;
    }

    &__button {
      margin: 0 4px !important;
    }
  }
}
