.ImageModel {
  & i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;

    font-size: 4rem;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
  }

  & i:hover {
    transform: scale(1.05);
  }

  &__list {
    width: 600px;
    height: 100vh;
    background-color: #fff;

    & img {
      width: 100%;
      object-fit: contain;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .ImageModel {
    & i {
      top: -1rem;
      right: -1rem;
      z-index: 2;
    }
  }
}
