.CartItem {
  &__product,
  &__quantity {
    display: flex;
    align-items: center;
  }

  &__product {
    overflow: hidden;

    & img {
      position: relative;
      top: -16px;
      width: 80px;
      height: 80px;

      object-fit: contain;
      vertical-align: middle;
    }
  }

  &__quantity {
    justify-content: space-between;
    width: 80px;
    margin-left: 5px;
    font-size: 0.85rem;

    & .btn {
      padding: 1px;
      border: none;
      font-weight: bold;
      cursor: pointer;

      & i {
        display: block;
        margin-top: 5px;
        border-radius: 50%;
        background-color: #eee;
        transform: 0.5s;
      }

      & i:hover {
        transform: scale(1.1);
      }
    }

    & .btn:focus {
      box-shadow: none;
    }
  }

  &__discount,
  &__subtotal {
    display: block;
    width: 50px;
  }

  &__discount {
    margin-left: 15px;
  }

  &__subtotal {
    margin-left: 5px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__action {
    & i {
      margin-right: 8px;
      font-size: 1.5rem;
      transition: 0.4s;
    }

    & i:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
