@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.Header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  padding: 0 1.5rem;
  border-bottom: 1px solid #eef;
  height: 4.5rem;

  &__logo {
    & h2 {
      font-family: "Pacifico", cursive;
    }
  }

  &__input {
    position: relative;
    width: 40%;

    & i {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;

      font-size: 1.4rem;
      color: #eef;
    }

    & input {
      padding-left: 2rem;
      border-color: #eee;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & i {
      margin: 1.5rem;
      font-size: 1.5rem;
    }

    & img {
      width: 38px;
      height: 38px;
      border: 2px solid#e81224;
      border-radius: 50%;
    }
  }
}
