@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.Header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4.5rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid #eef;
  background-color: #fff;

  &__map-container {
    width: 100%;
    height: 100%;
  }

  &__logo {
    & h2 {
      position: relative;
      top: 2px;
      font-family: "Pacifico", cursive;
      cursor: pointer;
      user-select: none;
    }

    & a {
      color: black;
      text-decoration: none;
    }

    & img {
      position: absolute;
      top: 4px;
      right: -34px;
      width: 32px;
      height: 32px;
      object-fit: cover;
    }
  }

  &__navigation {
    flex-grow: 1;

    & h5 {
      margin: 0;
    }

    & a {
      color: #333;
      text-decoration: none;
    }
  }

  &__input {
    position: relative;
    width: 250px;
    margin-right: 16px;

    & i:nth-child(1) {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;

      font-size: 1.4rem;
      color: #eef;
      width: 24px;
    }

    & i:nth-child(2) {
      position: absolute;
      top: 0.5rem;
      right: 1.8rem;

      font-size: 1.4rem;
      cursor: pointer;
    }

    & svg {
      width: 100%;
      height: 100%;
      z-index: 2;

      font-size: 1.4rem;
      cursor: pointer;
      background-color: #fff;
      border-radius: 50%;
    }

    .icon {
      position: absolute;
      top: 0.5rem;
      right: 1.8rem;
      width: 24px;
      height: 24px;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;

        position: absolute;

        background-color: lightblue;
        z-index: 1;
        opacity: 0.2;
        animation: pulse 1250ms infinite;
      }
    }

    @keyframes pulse {
      0% {
        opacity: 0.95;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(1.5);
      }
    }

    & input {
      padding-left: 2rem;
      padding-right: 3.2rem;
      border-color: #eee;
    }

    & .search-logo {
      position: absolute;
      top: 50%;
      right: 0;
      width: 18px;
      height: 18px;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & i {
      position: relative;
      margin-right: 1rem;
      font-size: 2rem;
      cursor: pointer;
      transition: all ease-in-out 0.2s;

      & > span {
        position: absolute;
        top: 1.4rem;
        left: 1.4rem;
        font-size: 0.5rem;
        text-align: center;
      }

      &:hover {
        transform: scale(1.02) !important;
      }
    }

    & img {
      display: block;
      width: 38px;
      height: 38px;
      border: 2px solid#e81224;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  &__avatarText {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 38px;
    height: 38px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 50%;

    color: #fff;
    background-color: #000;

    object-fit: cover;
    cursor: pointer;
  }

  &__search {
    position: absolute;
    top: calc(100% + 8px);
    z-index: 1;
    right: -70%;
    width: 420px;
    // max-width: 100%;
    background-color: #fff;
    border-radius: 4px;
    & ul {
      list-style: none;
      padding: 16px;
      margin: 0;
      max-height: 64vh;
      overflow-y: auto;

      & li {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dedede;
        overflow: hidden;

        & img {
          position: relative;
          top: -28px;
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-right: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Header {
    &__logo {
      & h2 {
        font-size: 28px;
        left: -16px;
      }

      & img {
        position: absolute;
        right: -32px;
        width: 28px;
        height: 28px;
      }
    }

    &__search {
      position: absolute;
      top: 100%;
      z-index: 1;
      left: 0;
      width: 100%;
      background-color: #fff;
      & ul {
        list-style: none;
        padding: 16px;
        margin: 0;
        max-height: 58vh;
        overflow-y: auto;

        & li {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #dedede;
          overflow: hidden;

          & img {
            position: relative;
            right: 0 !important;
            top: -28px;
            width: 100px !important;
            height: 100px !important;
            object-fit: cover;
            margin-right: 16px;
          }
        }
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & i {
        margin-right: 0.5rem;
      }

      & img {
        display: block;
        width: 38px;
        height: 38px;
        border: 2px solid#e81224;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
    }

    &__avatar {
      margin-right: -16px;
    }

    &__input {
      position: fixed;
      top: 4.5rem;
      left: 0;

      display: none;
      width: 100%;
      margin: 0;
      padding: 1rem;
      background-color: #fff;
      z-index: -1;

      -webkit-box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.3);

      animation: mobileSearchSlideIn linear 0.3s;
      transition: all linear 0.3s;

      & i,
      .icon {
        top: 24px !important;
        right: 48px !important;
      }

      & img {
        right: 16px !important;
        width: 20px !important;
        height: 20px !important;
      }
    }

    &__searchIcon {
      position: relative;
      display: inline-block;
      left: 24px !important;
    }
  }
}
