.ResetPassWord {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  &__form-wrapper {
    width: 380px;
    min-height: 100%;
    padding: 4rem 2rem;
    background-color: #fff;
  }

  &__logo {
    & h2 {
      font-family: "Pacifico", cursive;
      cursor: pointer;
      user-select: none;
      margin-bottom: 3rem;
    }

    & a {
      color: black;
      text-decoration: none;
    }

    & img {
      position: relative;
      top: -4px;
      width: 32px;
      height: 32px;
      object-fit: cover;
    }
  }

  &__about {
    margin-bottom: 3rem;
  }

  &__btn {
    border: none;
    padding: 1rem 2rem;
    margin-top: 3rem;
    border-radius: 1rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(229, 94, 174, 0.6),
      rgba(201, 210, 149, 0.6)
    );

    transition: all ease-in-out 0.2s;

    &:hover {
      transform: translateY(-2px);
      scale: 1.02;
    }

    &:active {
      transform: translateY(-1px);
    }
  }

  &__background {
    flex: 1;
    height: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba(229, 94, 174, 0.6),
        rgba(201, 210, 149, 0.6)
      ),
      url("https://wallpaperaccess.com/full/680075.jpg");
    background-position: center;
  }
}

@media (max-width: 768px) {
  .ResetPassWord {
    &__form-wrapper {
      width: 250px;
      padding: 2rem 1rem;
    }
  }
}
