.ProductList {
  width: 60%;
  height: 90vh;
  padding: 1.5rem;
  overflow-y: scroll;
  float: left;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;

    & div {
      display: flex;
      align-items: center;
    }

    & div i {
      margin-left: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.ProductList::-webkit-scrollbar {
  display: none;
}
