.ProductList {
  flex: 1;
  height: calc(100vh - 4.5rem);
  padding: 1.4rem 0.5rem;
  overflow-y: scroll;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;

    & div {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    & div i {
      margin-left: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.ProductList::-webkit-scrollbar {
  display: none;
}
