.Order {
  &__checkout {
    width: 1050px;
    padding: 1.5rem;
    margin: 0 auto;
    margin-top: 1.2rem;

    background-color: deeppink;
    border-radius: 1.5rem;

    & .empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 500px;
      background-color: pink;

      & i {
        position: relative;
        font-size: 15rem;

        & span {
          position: absolute;
          top: 11rem;
          left: 12.6rem;
          font-size: 1.5rem;
        }
      }

      & .button {
        margin-top: 2rem;
        padding: 1rem 2rem;
        color: white;
        border: none;
        border-radius: 0.4rem;

        background-color: cyan;
        font-weight: bold;
        cursor: pointer;
      }
    }

    & header {
      position: relative;
      margin: 1rem 0;
      text-transform: uppercase;
      color: white;

      & i {
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 2.5rem;
        color: #fff;
        transition: all 0.3s ease-in-out 0s;
      }

      & i:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    & tr {
      vertical-align: middle;
    }

    & .FieldList {
      width: 100%;
      height: 540px;
      padding: 1rem 1.2rem;
      overflow: scroll;

      border-radius: 1rem;
      font-weight: bold;
      color: black;
      background-color: white;
    }

    & .FieldList::-webkit-scrollbar {
      display: none;
    }

    & img {
      width: 80px;
      height: 80px;
    }

    & footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 2.4rem 0 1rem;

      & > div {
        font-weight: bold;
      }
    }

    & button,
    & section {
      position: relative;
      display: block;
      width: 85%;
      padding: 0.5rem;
      margin: 1.6rem auto;

      border-radius: 0.2rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.2rem;

      background-color: black;
      border: none;
      cursor: pointer;

      & div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & small {
        display: block;
        text-align: center;
        color: #fee;
        font-size: 0.5rem;
      }
    }

    & button:hover,
    & button:focus {
      background-color: black;
    }
  }
}

.list::-webkit-scrollbar {
  display: none;
}
