.Order {
  &__viewIcon {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &__logo {
    & h2 {
      position: relative;
      top: 2px;
      font-family: "Pacifico", cursive;
      cursor: pointer;
      user-select: none;
    }

    & a {
      color: black;
      text-decoration: none;
    }

    & img {
      position: relative;
      top: -4px;
      width: 32px;
      height: 32px;
      object-fit: cover;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 600px;
    background-color: #ff1493;
    border-radius: 8px;

    & i {
      position: relative;
      font-size: 15rem;

      & span {
        position: absolute;
        top: 11rem;
        left: 12.6rem;
        font-size: 1.5rem;
      }
    }

    & .button {
      display: block;
      margin-top: 2rem;
      padding: 1rem 2rem;

      background-color: deeppink;
      color: white;
      border: none;
      border-radius: 0.4rem;
      text-align: center;

      font-weight: bold;
      cursor: pointer;
    }
  }
  & ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .Order {
    max-width: 100% !important;
    max-height: 100vh - 4.5vh;
    margin: 0;
    & header {
      & h2 {
        font-size: 1.4rem;
      }
    }

    &__empty {
      height: 700px;
      border-radius: 0 !important;
    }

    & .button:last-child {
      margin-top: 1rem;
    }
  }
}
